# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
/logs
/.factorypath

#!run/config
#!run/config/fabric_loader_dependencies.json
/CHANGELOG.md
